<%- include("includes/head.ejs") %>

<body>
    <h2>This page belongs to @<%= username %>
    </h2>
    <button>Follow</button>
    <button>Message</button>

    <h2>
        <%= data.name %>
    </h2>
    <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp; Following: <%= data.following %>
    </p>

    <%for(post of data.posts){%>
        <img src="<%=post.image%>" alt="">
        <p>comments:<%=post.comments%> &nbsp;&nbsp;&nbsp; likes:<%=post.likes%></p>
        <h4></h4>
    <%}%>



<%- include("includes/footer.ejs")  %>

</body>

</html>

<!-- for(name of followers){
    <li>name</li>
} -->